## Creating the Scraper

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# url = 'https://www.lonelyplanet.com/kenya/attractions'
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
# print(soup.prettify())

In [5]:
# attaractions = soup.find_all('span', class_ ='heading-05 font-semibold')
# for attraction in attaractions:
#     title = attraction.get_text(strip=True)
#     print(title)

In [6]:
# base_url = 'https://www.lonelyplanet.com/kenya/attractions'

# # pages
# num_pages = 5 

# # Loop through each page
# for page in range(1, num_pages + 1):
#     # Constructing the URL for each page
#     url = f'{base_url}?page={page}'
#     response = requests.get(url)
#     soup = BeautifulSoup(response.text, 'html.parser')
    
#     # Find all span elements with the class 'heading-05 font-semibold'
#     attractions = soup.find_all('span', class_='heading-05 font-semibold')
    
#     # Print each attraction title
#     for attraction in attractions:
#         title = attraction.get_text(strip=True)
#         print(title)

In [7]:
# import requests
# from bs4 import BeautifulSoup
# import pandas as pd

# # Function to scrape a single country's attractions
# def scrape_country_attractions(country, continent, base_url, num_pages=5):
#     data = []  # List to store all attraction data for the country

#     for page in range(1, num_pages + 1):
#         url = f'{base_url}?page={page}'
#         response = requests.get(url)
#         soup = BeautifulSoup(response.text, 'html.parser')

#         # Extract attraction titles and descriptions
#         titles = soup.find_all('span', class_='heading-05 font-semibold')
#         descriptions = soup.find_all('p', class_='relative line-clamp-3')

#         # Pair up each title with its corresponding description and add country/continent info
#         for title, description in zip(titles, descriptions):
#             data.append({
#                 'Attraction': title.get_text(strip=True),
#                 'Description': description.get_text(strip=True),
#                 'Country': country,
#                 'Continent': continent
#             })

#     return data

# # Define the countries, continents, and base URLs you want to scrape
# countries_to_scrape = [
#     {'country': 'Kenya', 'continent': 'Africa', 'url': 'https://www.lonelyplanet.com/kenya/attractions'},
    
# ]

# # Collect data for all countries
# all_data = []
# for entry in countries_to_scrape:
#     country_data = scrape_country_attractions(entry['country'], entry['continent'], entry['url'])
#     all_data.extend(country_data)

# # Convert to DataFrame and save to CSV
# df = pd.DataFrame(all_data, columns=['Attraction', 'Description', 'Country', 'Continent'])
# df.to_csv('attractions_data.csv', index=False)
# print("Data saved to attractions_data.csv")

In [ ]:
# countries_to_scrape = [
#     # Africa
#     {'country': 'Kenya', 'continent': 'Africa', 'url': 'https://www.lonelyplanet.com/kenya/attractions'},
#     {'country': 'South Africa', 'continent': 'Africa', 'url': 'https://www.lonelyplanet.com/south-africa/attractions'},
#     {'country': 'Egypt', 'continent': 'Africa', 'url': 'https://www.lonelyplanet.com/egypt/attractions'},
#     {'country': 'Morocco', 'continent': 'Africa', 'url': 'https://www.lonelyplanet.com/morocco/attractions'},

#     # Asia
#     {'country': 'Japan', 'continent': 'Asia', 'url': 'https://www.lonelyplanet.com/japan/attractions'},
#     {'country': 'China', 'continent': 'Asia', 'url': 'https://www.lonelyplanet.com/china/attractions'},
#     {'country': 'India', 'continent': 'Asia', 'url': 'https://www.lonelyplanet.com/india/attractions'},
#     {'country': 'Thailand', 'continent': 'Asia', 'url': 'https://www.lonelyplanet.com/thailand/attractions'},

#     # Europe
#     {'country': 'France', 'continent': 'Europe', 'url': 'https://www.lonelyplanet.com/france/attractions'},
#     {'country': 'Italy', 'continent': 'Europe', 'url': 'https://www.lonelyplanet.com/italy/attractions'},
#     {'country': 'Germany', 'continent': 'Europe', 'url': 'https://www.lonelyplanet.com/germany/attractions'},
#     {'country': 'United Kingdom', 'continent': 'Europe', 'url': 'https://www.lonelyplanet.com/united-kingdom/attractions'},

#     # North America
#     {'country': 'United States', 'continent': 'North America', 'url': 'https://www.lonelyplanet.com/usa/attractions'},
#     {'country': 'Canada', 'continent': 'North America', 'url': 'https://www.lonelyplanet.com/canada/attractions'},
#     {'country': 'Mexico', 'continent': 'North America', 'url': 'https://www.lonelyplanet.com/mexico/attractions'},

#     # South America
#     {'country': 'Brazil', 'continent': 'South America', 'url': 'https://www.lonelyplanet.com/brazil/attractions'},
#     {'country': 'Argentina', 'continent': 'South America', 'url': 'https://www.lonelyplanet.com/argentina/attractions'},
#     {'country': 'Chile', 'continent': 'South America', 'url': 'https://www.lonelyplanet.com/chile/attractions'},
#     {'country': 'Peru', 'continent': 'South America', 'url': 'https://www.lonelyplanet.com/peru/attractions'},

#     # Oceania
#     {'country': 'Australia', 'continent': 'Oceania', 'url': 'https://www.lonelyplanet.com/australia/attractions'},
#     {'country': 'New Zealand', 'continent': 'Oceania', 'url': 'https://www.lonelyplanet.com/new-zealand/attractions'},
#     {'country': 'Fiji', 'continent': 'Oceania', 'url': 'https://www.lonelyplanet.com/fiji/attractions'},

#     # Middle East
#     {'country': 'United Arab Emirates', 'continent': 'Middle East', 'url': 'https://www.lonelyplanet.com/united-arab-emirates/attractions'},
#     {'country': 'Turkey', 'continent': 'Middle East', 'url': 'https://www.lonelyplanet.com/turkey/attractions'},
#     {'country': 'Israel', 'continent': 'Middle East', 'url': 'https://www.lonelyplanet.com/israel/attractions'},
#     {'country': 'Jordan', 'continent': 'Middle East', 'url': 'https://www.lonelyplanet.com/jordan/attractions'},

#     # Antarctica (if applicable)
#     {'country': 'Antarctica', 'continent': 'Antarctica', 'url': 'https://www.lonelyplanet.com/antarctica/attractions'}
# ]

In [9]:
# import requests
# from bs4 import BeautifulSoup
# import pandas as pd

# def scrape_country_attractions(country, continent, base_url, num_pages=5):
#     data = []
#     for page in range(1, num_pages + 1):
#         url = f'{base_url}?page={page}'
#         response = requests.get(url)
#         soup = BeautifulSoup(response.text, 'html.parser')

#         titles = soup.find_all('span', class_='heading-05 font-semibold')
#         descriptions = soup.find_all('p', class_='relative line-clamp-3')

#         for title, description in zip(titles, descriptions):
#             data.append({
#                 'Attraction': title.get_text(strip=True),
#                 'Description': description.get_text(strip=True),
#                 'Country': country,
#                 'Continent': continent
#             })
#     return data

# all_data = []
# for entry in countries_to_scrape:
#     country_data = scrape_country_attractions(entry['country'], entry['continent'], entry['url'])
#     all_data.extend(country_data)

# df = pd.DataFrame(all_data, columns=['Attraction', 'Description', 'Country', 'Continent'])
# df.to_csv('attractions_data.csv', index=False)
# print("Data saved to attractions_data.csv")

## Data Cleaning

In [13]:
df = pd.read_csv('../Data/best_travel_destinations_for_2025.csv')

In [14]:
df.head()

,Attraction,Description,Country,Continent
0,Amboseli National Park,Amboseli belongs in the elite of Kenya’s natio...,Kenya,Africa
1,Fort Jesus,This 16th-century fort and Unesco World Herita...,Kenya,Africa
2,David Sheldrick Wildlife Trust,"Occupying a plot within Nairobi National Park,...",Kenya,Africa
3,Nairobi National Park,Welcome to Kenya’s most accessible yet incongr...,Kenya,Africa
4,National Museum,"Kenya’s wonderful National Museum, housed in a...",Kenya,Africa

In [15]:
# checking the overall structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18040 entries, 0 to 18039
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Attraction   18040 non-null  object
 1   Description  18040 non-null  object
 2   Country      18040 non-null  object
 3   Continent    18040 non-null  object
dtypes: object(4)
memory usage: 563.9+ KB

There are no missing values in the dataset

In [22]:
# checking for duuplicates

df.duplicated().sum()

9

In [23]:
df[df.duplicated()]

,Attraction,Description,Country,Continent
3440,Yuexiu Park,A crenellated roadway between attractions in t...,China,Asia
3480,Palace of Moon & Water Kwun Yum Temple,Not to be confused with Kwun Yum Temple nearby...,China,Asia
3640,Rakadrak Hermitage,This hermitage high above Lhasa has three simp...,China,Asia
3680,Huilan Pavilion,"Lit up at night, this graceful pavilion decora...",China,Asia
5000,Pithoragarh Fort,This renovated historic fort was built by Gurk...,India,Asia
5160,Himadri Hans Handloom,Just north of town on the road to Binsar is th...,India,Asia
11560,Kids Market,A kaleidoscopic mini shopping mall for under-1...,Canada,North America
11641,Africville Heritage Trust Museum,"Learn the story of Africville, Halifax's predo...",Canada,North America
14360,Cementerios 1 & 2,"The city's most illustrious, influential and i...",Chile,South America

In [ ]:
# Dropping the duplicates
df.drop_duplicates(inplace=True)

In [25]:
# checking again for duuplicates

df.duplicated().sum()

0