Data Cleaning

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv(r'..\\data\\best_travel_destinations_for_2025_df.csv', encoding='latin1')
df.head()

,Unnamed: 0,Attraction,Description,Country,Continent
0,0,Palais Royal,The must-see attraction is the sultan's palace...,Cameroon,Africa
1,1,Chefferie,"Approached via a ceremonial gate, the compound...",Cameroon,Africa
2,2,Fon's Palace,Just north of Bamenda is the large Tikar commu...,Cameroon,Africa
3,3,Limbe Wildlife Centre,"Many zoos in Africa are depressing places, but...",Cameroon,Africa
4,4,Botanical Gardens,"Limbe's Botanical Gardens, the second oldest i...",Cameroon,Africa

In [7]:
# Previewing the bottom of our dataset
df.tail()

,Unnamed: 0,Attraction,Description,Country,Continent
2595,35,Naka-no-shima-kÅen,"Osaka's first public park, created in 1891 at ...",Japan,Asia
2596,36,HÅzen-ji YokochÅ,An atmospheric alley dotted with traditional r...,Japan,Asia
2597,37,Karahori ShÅtengai,This classic shopping arcade wends along the p...,Japan,Asia
2598,38,Osaka Central Public Hall,"Built in 1911, this dramatic, red-brick neo-Re...",Japan,Asia
2599,39,Osaka City Hall,A mid-1980s building incorporating some elemen...,Japan,Asia

In [8]:

df['Attraction'].unique()

array(['Palais Royal', 'Chefferie', "Fon's Palace", ...,
       'Karahori ShÅ\x8dtengai', 'Osaka Central Public Hall',
       'Osaka City Hall'], dtype=object)

In [9]:
df['Description'].unique()

array(["The must-see attraction is the sultan's palace, home to the 19th sultan of the Bamoun dynasty. It has a fascinating, well-organised museum providing greatâ\x80¦",
       'Approached via a ceremonial gate, the compound is centred on a hugely impressive bamboo building, its conical thatched roof supported by wooden pillarsâ\x80¦',
       "Just north of Bamenda is the large Tikar community of Bafut, traditionally the most powerful of the Grassfields kingdoms. The fon's (local chief's) palaceâ\x80¦",
       ...,
       'This classic shopping arcade wends along the path of an old moat (from an earlier, larger incarnation of Osaka-jÅ\x8d), long since filled in. The arcadeâ\x80¦',
       'Built in 1911, this dramatic, red-brick neo-Renaissance building is an important cultural property.',
       'A mid-1980s building incorporating some elements from the 1921 City Hall.'],
      dtype=object)

Addressing Missing and Placeholder Values

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2600 non-null   int64
 1   Attraction   2600 non-null   object
 2   Description  2600 non-null   object
 3   Country      2600 non-null   object
 4   Continent    2600 non-null   object
dtypes: int64(1), object(4)
memory usage: 101.7+ KB

Duplicates and Null values

In [12]:
#looking at data, duplicates and null values
print(df.info())
print(("-"*20))

# Check for duplicated rows
print('Total duplicated rows')
print(df.duplicated().sum())
print(("-"*20))

# Check for null values
print('Total null values')
print(df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   2600 non-null   int64
 1   Attraction   2600 non-null   object
 2   Description  2600 non-null   object
 3   Country      2600 non-null   object
 4   Continent    2600 non-null   object
dtypes: int64(1), object(4)
memory usage: 101.7+ KB
None
--------------------
Total duplicated rows
0
--------------------
Total null values
Unnamed: 0     0
Attraction     0
Description    0
Country        0
Continent      0
dtype: int64

The DataFrame contains 0 duplicate rows.

In [13]:
#drop any NaN in the Tweet column
df['Description'].dropna(inplace=True)
df

,Unnamed: 0,Attraction,Description,Country,Continent
0,0,Palais Royal,The must-see attraction is the sultan's palace...,Cameroon,Africa
1,1,Chefferie,"Approached via a ceremonial gate, the compound...",Cameroon,Africa
2,2,Fon's Palace,Just north of Bamenda is the large Tikar commu...,Cameroon,Africa
3,3,Limbe Wildlife Centre,"Many zoos in Africa are depressing places, but...",Cameroon,Africa
4,4,Botanical Gardens,"Limbe's Botanical Gardens, the second oldest i...",Cameroon,Africa
...,...,...,...,...,...
2595,35,Naka-no-shima-kÅen,"Osaka's first public park, created in 1891 at ...",Japan,Asia
2596,36,HÅzen-ji YokochÅ,An atmospheric alley dotted with traditional r...,Japan,Asia
2597,37,Karahori ShÅtengai,This classic shopping arcade wends along the p...,Japan,Asia
2598,38,Osaka Central Public Hall,"Built in 1911, this dramatic, red-brick neo-Re...",Japan,Asia
2599,39,Osaka City Hall,A mid-1980s building incorporating some elemen...,Japan,Asia

In [14]:
df['Attraction'].fillna('Unknown', inplace=True)
print(df)

      Unnamed: 0                 Attraction  \
0              0               Palais Royal
1              1                  Chefferie
2              2               Fon's Palace
3              3      Limbe Wildlife Centre
4              4          Botanical Gardens
...          ...                        ...
2595          35        Naka-no-shima-kÅen
2596          36         HÅzen-ji YokochÅ
2597          37        Karahori ShÅtengai
2598          38  Osaka Central Public Hall
2599          39            Osaka City Hall

                                            Description   Country Continent
0     The must-see attraction is the sultan's palace...  Cameroon    Africa
1     Approached via a ceremonial gate, the compound...  Cameroon    Africa
2     Just north of Bamenda is the large Tikar commu...  Cameroon    Africa
3     Many zoos in Africa are depressing places, but...  Cameroon    Africa
4     Limbe's Botanical Gardens, the second oldest i...  Cameroon    Africa
...                                                 ...       ...       ...
2595  Osaka's first public park, created in 1891 at ...     Japan      Asia
2596  An atmospheric alley dotted with traditional r...     Japan      Asia
2597  This classic shopping arcade wends along the p...     Japan      Asia
2598  Built in 1911, this dramatic, red-brick neo-Re...     Japan      Asia
2599  A mid-1980s building incorporating some elemen...     Japan      Asia

[2600 rows x 5 columns]